table {
    border-collapse: collapse;
}
td,th {
    padding: 8px;
    border: 2px solid black;
}
thead {
    background-color: #fffcd5;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}
input[type=button]{
    margin: 10px;
}
.date {
    margin-top: 20px;
    font-weight: 900;
}