:root {
    font-size: 16px;
}
table {
    max-width: 100%;
    font-size: 0.7rem;
    font-family: sans-serif;
    margin: 0px 10px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #c9c9c9;
    font-weight: 550;
}
tr td {
    padding: 10px;
}
thead tr th {
    padding: 10px;
    background-color: rgb(255, 255, 203);
}
thead tr th:first-child {
    border-top-left-radius: 10px;
}
thead tr th:last-child {
    border-top-right-radius: 10px;
}
tbody tr {
    background-color: #fff;
}
tbody tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}
tbody tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}
input[type=button]{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    background-color: rgb(121, 213, 255);
    color: #2e2e2e;;
    border: 0;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: sans-serif;
}
.date {
    margin: 20px 20px 0px 20px;
    font-weight: 900;
    font-size: 0.9rem;
    font-family: Helvetica;
}
